@use "../variables" as *;
@use "../mixins" as *;

.categories {
  .searchbox {
    margin: 0 auto 80px;
    width: 612px;
    padding: 25px 40px;
    background-color: #43434329;
    border: 1px solid #ffffff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(200px);

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      font-size: 1.25rem;
      font-family: $font-primary;
      color: #ffffff;

      &::placeholder {
        color: #ffffff;
      }

      &:focus {
        outline: none;
      }
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    width: fit-content;
    margin: 0 auto;

    @include respond(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include respond(mobile) {
      grid-template-columns: 1fr;
    }
  }

  .grid-item {
    width: 370px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 16px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  .grid-item:nth-child(1) {
    grid-column: span 1;
    height: 450px;
  }
  .grid-item:nth-child(2) {
    grid-column: span 1;
    height: 375px;
  }
  .grid-item:nth-child(3) {
    grid-column: span 1;
    height: 450px;
  }
  .grid-item:nth-child(4) {
    grid-column: span 1;
    height: 375px;
  }
  .grid-item:nth-child(5) {
    grid-column: span 1;
    height: 450px;
    margin-top: -75px;

    @include respond(tablet) {
      margin-top: 0;
    }
  }
  .grid-item:nth-child(6) {
    grid-column: span 1;
    height: 375px;
  }
}
