@use "../variables" as *;
@use "../mixins" as *;

.products {
  margin-bottom: 160px;
  .tabs-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 66px;
    width: calc(100% - 100px);
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .tab {
    padding: 20px 30px;
    border-radius: 100px;
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    color: $primary-color;
    transition: all 0.3s;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid $primary-color;
    text-wrap: nowrap;

    &:hover {
      background-color: $secondary-color;
      color: $background-color;
      border: 1px solid $secondary-color;
    }
  }

  .active {
    background-color: $secondary-color;
    color: $background-color;
    border: 1px solid $secondary-color;
  }

  .scroll-button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    width: 85px;
    height: 65px;
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .products-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .product-card {
      width: 270px;
      height: 262px;
      background-color: #31418c4d;
      border-radius: 12px;
      position: relative;
      overflow: hidden;

      .product-info {
        padding: 20px 15px 20px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        img {
          width: 70px;
          height: 157px;
          object-fit: contain;
        }

        h3 {
          font-size: 1.125rem;
          font-weight: 500;
        }
      }

      .card-bottom {
        height: 65px;
        display: flex;
        background-color: #1f1f1f4d;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .product-charges {
          font-size: 12px;
          padding: 0 16px;
        }

        .cart-btn {
          width: 87px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(180deg, #c1842d, #ecc974);
          color: $background-color;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.3s;
          border: none;

          &:hover {
            background: linear-gradient(180deg, #ecc974, #c1842d);
          }
        }
      }
    }

    .product-condition {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      background-color: $secondary-color;
      border-bottom-left-radius: 12px;
      font-size: 13px;
    }

    .research-gradient {
      background: linear-gradient(90deg, #d78c6c, #a75356);
    }

    .recurring-gradient {
      background: linear-gradient(180deg, #6c221d, #954139);
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 50px;

    button {
      width: 60px;
      height: 60px;
      background-color: $secondary-color;
      color: $background-color;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        filter: brightness(0.9);
      }

      &:disabled {
        filter: brightness(0.7);
        cursor: not-allowed;
      }
    }
  }
}
