// Colors
$primary-color: #ffffff !default;
$secondary-color: #e1c06e !default;
$background-color: #000000 !default;

// Typography
$font-primary: "Neue Montreal", sans-serif !default;
$font-secondary: "Impact", sans-serif !default;

// Breakpoints
$mobile: 576px !default;
$tablet: 768px !default;
$desktop: 1024px !default;
